In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('CKD.csv')
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset)
dataset=dataset.drop(['age','cad_no','pcc_notpresent','ba_notpresent','htn_no','dm_no','appet_poor','pe_poor','ane_no','classification_no'],axis=1)
dataset

,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,...,0,0,0,0,0,0,1,1,0,1
1,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,34.000000,...,1,0,0,0,0,0,1,0,0,1
2,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,34.000000,...,1,0,0,0,0,0,1,0,0,1
3,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,38.868902,...,1,0,0,0,0,0,1,0,1,1
4,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,36.000000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,37.000000,...,1,0,0,0,0,0,1,0,0,1
395,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,27.000000,...,1,0,0,1,1,0,1,0,1,1
396,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,26.000000,...,1,0,0,1,1,0,0,0,0,1
397,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,38.868902,...,1,0,0,1,1,0,1,0,1,1
398,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,53.000000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [5]:
dataset.columns

Index(['bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc',
       'rc', 'sg_a', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_abnormal',
       'rbc_normal', 'pc_abnormal', 'pc_normal', 'pcc_present', 'ba_present',
       'htn_yes', 'dm_yes', 'cad_yes', 'appet_yes', 'pe_yes', 'ane_yes',
       'classification_yes'],
      dtype='object')

In [6]:
independent= dataset[['bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc',
       'rc', 'sg_a', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_abnormal',
       'rbc_normal', 'pc_abnormal', 'pc_normal', 'pcc_present', 'ba_present',
       'htn_yes', 'dm_yes', 'cad_yes', 'appet_yes', 'pe_yes', 'ane_yes']]
independent

,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,...,pc_abnormal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,...,1,0,0,0,0,0,0,1,1,0
1,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,34.000000,...,0,1,0,0,0,0,0,1,0,0
2,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,34.000000,...,0,1,0,0,0,0,0,1,0,0
3,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,38.868902,...,0,1,0,0,0,0,0,1,0,1
4,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,36.000000,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,37.000000,...,0,1,0,0,0,0,0,1,0,0
395,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,27.000000,...,0,1,0,0,1,1,0,1,0,1
396,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,26.000000,...,0,1,0,0,1,1,0,0,0,0
397,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,38.868902,...,0,1,0,0,1,1,0,1,0,1
398,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,53.000000,...,0,1,0,0,0,0,0,1,0,0

In [7]:
dependent= dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test =  sc.fit_transform(x_test)

In [10]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)
classifier = classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [11]:
print(x_train)

[[ 1.79924415 -0.68384276  2.66245472 ...  0.51639778 -0.52223297
  -0.44519456]
 [ 0.26080096 -0.68384276 -0.36409637 ...  0.51639778 -0.52223297
  -0.44519456]
 [-0.50842064 -0.68384276 -0.36409637 ...  0.51639778 -0.52223297
  -0.44519456]
 ...
 [ 0.26080096 -0.68384276 -0.36409637 ...  0.51639778 -0.52223297
  -0.44519456]
 [ 0.26080096 -0.68384276 -0.36409637 ...  0.51639778 -0.52223297
  -0.44519456]
 [-1.27764223 -0.68384276 -0.36409637 ...  0.51639778 -0.52223297
  -0.44519456]]

In [12]:
print(x_test)

[[-0.42862079 -0.69711841 -0.41342522 ...  0.50469494 -0.42070316
  -0.36980013]
 [ 0.96283558  0.67646305 -0.41342522 ... -1.98139494 -0.42070316
  -0.36980013]
 [-0.42862079 -0.69711841 -0.41342522 ...  0.50469494 -0.42070316
  -0.36980013]
 ...
 [ 1.65856377 -0.69711841 -0.41342522 ... -1.98139494 -0.42070316
  -0.36980013]
 [-1.12434898  1.36325378 -0.41342522 ...  0.50469494 -0.42070316
  -0.36980013]
 [-1.12434898 -0.69711841 -0.41342522 ...  0.50469494 -0.42070316
  -0.36980013]]

In [13]:
y_predict=classifier.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_predict)
confusion_matrix

array([[50,  1],
       [ 3, 79]], dtype=int64)

In [15]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,y_predict)
print(classification_report)

              precision    recall  f1-score   support

           0       0.94      0.98      0.96        51
           1       0.99      0.96      0.98        82

    accuracy                           0.97       133
   macro avg       0.97      0.97      0.97       133
weighted avg       0.97      0.97      0.97       133

In [16]:
# Decison Tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier = classifier.fit(x_train,y_train)

In [17]:
y_predict=classifier.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_predict)
confusion_matrix

array([[48,  3],
       [ 3, 79]], dtype=int64)

In [19]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,y_predict)
print(classification_report)

              precision    recall  f1-score   support

           0       0.94      0.94      0.94        51
           1       0.96      0.96      0.96        82

    accuracy                           0.95       133
   macro avg       0.95      0.95      0.95       133
weighted avg       0.95      0.95      0.95       133

In [38]:
# Support Vector Machine
from sklearn.svm import SVC
classifier = SVC(kernel='rbf',random_state=0)
classifier = classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [39]:
y_predict=classifier.predict(x_test)

In [40]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_predict)
confusion_matrix

array([[51,  0],
       [ 1, 81]], dtype=int64)

In [41]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,y_predict)
print(classification_report)

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        51
           1       1.00      0.99      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [42]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_predict = classifier.predict(x_test)

In [44]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_predict)
confusion_matrix

array([[51,  0],
       [ 2, 80]], dtype=int64)

In [45]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,y_predict)
print(classification_report)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        51
           1       1.00      0.98      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.99      0.98       133
weighted avg       0.99      0.98      0.99       133

In [46]:
# K-Nearest Neighbour
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 7, metric = 'minkowski',p = 2)
classifier = classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

In [47]:
y_predict=classifier.predict(x_test)

In [48]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_predict)
confusion_matrix

array([[51,  0],
       [ 5, 77]], dtype=int64)

In [49]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,y_predict)
print(classification_report)

              precision    recall  f1-score   support

           0       0.91      1.00      0.95        51
           1       1.00      0.94      0.97        82

    accuracy                           0.96       133
   macro avg       0.96      0.97      0.96       133
weighted avg       0.97      0.96      0.96       133

In [50]:
# Naives Bayes
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier = classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [51]:
y_predict=classifier.predict(x_test)

In [52]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_predict)
confusion_matrix

array([[ 0, 51],
       [ 0, 82]], dtype=int64)

In [53]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,y_predict)
print(classification_report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        51
           1       0.62      1.00      0.76        82

    accuracy                           0.62       133
   macro avg       0.31      0.50      0.38       133
weighted avg       0.38      0.62      0.47       133

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)